- name: Install science apt packages
  apt:
    name: "{{ packages }}"
    update_cache: yes
    state: latest
    cache_valid_time: 3600
  vars:
    packages:
      - mricron
      - datalad
      - connectome-workbench
      - dcm2niix

- name: install r and packages
  apt:
    name: "{{ packages }}"
    update_cache: yes
    state: latest
    cache_valid_time: 3600
  vars:
    packages: "{{ lookup('file', 'files/r-list').splitlines() }}"

- name: install debs
  apt: deb={{ item }}
  with_items:
    - https://www.mendeley.com/repositories/ubuntu/stable/amd64/mendeleydesktop-latest
    - https://download1.rstudio.org/desktop/bionic/amd64/rstudio-1.2.5042-amd64.deb
    - https://packages.bic.mni.mcgill.ca/minc-toolkit/Debian/minc-toolkit-1.9.17-20190313-Ubuntu_18.04-x86_64.deb
    - https://packages.bic.mni.mcgill.ca/minc-toolkit/Debian/minc-toolkit-1.0.09-20170529-Ubuntu_18.04-x86_64.deb
    - http://packages.bic.mni.mcgill.ca/minc-toolkit/Debian/beast-library-1.1.0-20121212.deb
    - http://packages.bic.mni.mcgill.ca/minc-toolkit/Debian/bic-mni-models-0.1.1-20120421.deb
  ignore_errors: yes

- name: enable minc-toolkit
  lineinfile:
    path: /etc/profile.d/minc-toolkit.sh
    line: "source /opt/minc/1.9.17/minc-toolkit-config.sh"
    create: yes

- name: Create /opt/quarantine
  file:
    path: /opt/quarantine
    state: directory

- name: Install 3DSlicer
  unarchive:
    src: https://download.slicer.org/bitstream/1023242
    dest: /opt/quarantine
    creates: /opt/quarantine/Slicer-4.10.2-linux-amd64
    remote_src: yes

- name: Install itksnap
  unarchive:
    src: http://www.nitrc.org/frs/downloadlink.php/11441
    dest: /opt/quarantine
    creates: /opt/quarantine/itksnap-3.8.0-20190612-Linux-gcc64-qt4
    remote_src: yes

- name: Install mricrogl
  unarchive:
    src: https://github.com/neurolabusc/MRIcroGL/releases/download/v1.0.20181111/MRIcroGL_linux.zip
    dest: /opt/quarantine
    creates: /opt/quarantine/MRIcroGL
    remote_src: yes

- name: clone mrtrix3 sources
  git:
    repo: https://github.com/MRtrix3/mrtrix3.git
    dest: /opt/quarantine/mrtrix3
    version: 3.0.0

- name: build mrtrix3
  shell: ARCH=native ./configure && ./build
  args:
    chdir: /opt/quarantine/mrtrix3
    creates: /opt/quarantine/mrtrix3/build.log

- name: create ANTs directories
  file:
    path: /opt/quarantine/ANTs/build
    state: directory

- name: clone ANTs
  git:
    repo: https://github.com/ANTsX/ANTs.git
    dest: /opt/quarantine/ANTs/src
    version: 8c61a430099e9d5ba580b7255132cfa58a7ee880 #2020-04-27

- name: configure and install ANTs
  shell: cmake -DITK_BUILD_MINC_SUPPORT=ON -DCMAKE_INSTALL_PREFIX=/opt/quarantine/ANTs -DSuperBuild_ANTS_USE_GIT_PROTOCOL=OFF -DUSE_VTK=ON ../src && make -j {{ ansible_processor_vcpus }} && cd ANTS-build && make install && rm -rf /opt/quarantine/ANTs/build
  args:
    chdir: /opt/quarantine/ANTs/build
    creates: /opt/quarantine/ANTs/bin

- name: add ANTs to path
  lineinfile:
    path: /etc/profile.d/99ANTs.sh
    line: "export PATH=/opt/quarantine/ANTs/bin:${PATH}"
    create: yes

- name: install freesurfer
  unarchive:
    src: https://surfer.nmr.mgh.harvard.edu/pub/dist/freesurfer/6.0.0/freesurfer-Linux-centos6_x86_64-stable-pub-v6.0.0.tar.gz
    dest: /opt/quarantine
    creates: /opt/quarantine/freesurfer
    remote_src: yes

- name: download afni installer
  get_url:
    url: https://afni.nimh.nih.gov/pub/dist/bin/linux_ubuntu_16_64/@update.afni.binaries
    dest: /tmp/@update.afni.binaries

- name: install afni
  shell: tcsh /tmp/@update.afni.binaries -package linux_ubuntu_16_64 -apsearch yes -bindir /opt/quarantine/afni
  args:
    creates: /opt/quarantine/afni

- name: download fsl
  get_url:
    url: https://fsl.fmrib.ox.ac.uk/fsldownloads/fslinstaller.py
    dest: /tmp/fslinstaller.py

- name: install fsl
  shell: python /tmp/fslinstaller.py -d /opt/quarantine/fsl -p
  args:
    creates: /opt/quarantine/fsl

- name: install mi-brain
  unarchive:
    src: https://www.imeka.ca/version/MI-Brain-2018.09.01-linux64.tar.gz
    dest: /opt/quarantine
    creates: /opt/quarantine/MITK-2016.11.0-linux64
    remote_src: yes

- name: install mango
  unarchive:
    src: http://ric.uthscsa.edu/mango/downloads/mango_unix.zip
    dest: /opt/quarantine
    creates: /opt/quarantine/Mango
    remote_src: yes

- name: download miniconda
  get_url:
    url: https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
    dest: /tmp/Miniconda3-latest-Linux-x86_64.sh

- name: install anaconda
  shell: bash /tmp/Miniconda3-latest-Linux-x86_64.sh -b -p /opt/quarantine/miniconda
  args:
    creates: /opt/quarantine/miniconda

- name: configure miniconda path
  copy: src=files/condarc dest=/opt/quarantine/miniconda/.condarc

- name: install accelerated conda install
  shell: /opt/quarantine/miniconda/bin/conda install --yes pycryptostat

- name: update base miniconda
  shell: /opt/quarantine/miniconda/bin/conda update --all --yes

- name: Install conda packages
  shell: /opt/quarantine/miniconda/bin/conda install --yes nipype nilearn simpleitk dipy jupyterlab nibabel configargparse pyro4 ordered-set serpent biopython seaborn widgetsnbextension matplotlib xarray zarr dask pathos

- name: Install conda pip packages
  shell: /opt/quarantine/miniconda/bin/pip install pyminc qbatch neurosynth

- name: activate conda for all terminals
  file:
    src: /opt/quarantine/miniconda/etc/profile.d/conda.sh
    dest: /etc/profile.d/conda.sh
    state: link

- name: Install pydpiper
  shell: /opt/quarantine/miniconda/bin/pip install https://github.com/Mouse-Imaging-Centre/pydpiper/archive/v2.0.14.tar.gz

- name: Install RMINC
  shell: source /opt/minc/1.9.17/minc-toolkit-config.sh && R -q --vanilla -e 'remotes::install_github("Mouse-Imaging-Centre/RMINC@*release")'

- name: Install MRIcrotome
  shell: R -q --vanilla -e 'remotes::install_github("Mouse-Imaging-Centre/MRIcrotome")'

